<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Login - FadhlApp</title>
<link rel="stylesheet" href="../static/style.css">
<script src="../static/script.js" defer></script>
</head>
<body class="login">
<div class="login-container">
  <h1>مرحبا فاضل</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Login</button>
  </form>
</div>
</body>
</html>
